In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import KFold, RepeatedKFold
from scipy import sparse
#显示所有列
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
from datetime import datetime

In [2]:
#导入数据
train_abbr=pd.read_csv("dataset/happiness_train_abbr.csv",encoding='ISO-8859-1')
train=pd.read_csv("dataset/happiness_train_complete.csv",encoding='ISO-8859-1')
test_abbr=pd.read_csv("dataset/happiness_test_abbr.csv",encoding='ISO-8859-1')
test=pd.read_csv("dataset/happiness_test_complete.csv",encoding='ISO-8859-1')
test_sub=pd.read_csv("dataset/happiness_submit.csv",encoding='ISO-8859-1')

In [3]:
#观察数据大小
test.shape

(2968, 139)

In [4]:
test_sub.shape

(2968, 2)

In [5]:
train.shape

(8000, 140)

In [6]:
#简单查看数据
train.head()

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,edu_other,edu_status,edu_yr,income,political,join_party,floor_area,property_0,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,property_other,height_cm,weight_jin,health,health_problem,depression,hukou,hukou_loc,media_1,media_2,media_3,media_4,media_5,media_6,leisure_1,leisure_2,leisure_3,leisure_4,leisure_5,leisure_6,leisure_7,leisure_8,leisure_9,leisure_10,leisure_11,leisure_12,socialize,relax,learn,social_neighbor,social_friend,socia_outing,equity,class,class_10_before,class_10_after,class_14,work_exper,work_status,work_yr,work_type,work_manage,insur_1,insur_2,insur_3,insur_4,family_income,family_m,family_status,house,car,invest_0,invest_1,invest_2,invest_3,invest_4,invest_5,invest_6,invest_7,invest_8,invest_other,son,daughter,minor_child,marital,marital_1st,s_birth,marital_now,s_edu,s_political,s_hukou,s_income,s_work_exper,s_work_status,s_work_type,f_birth,f_edu,f_political,f_work_14,m_birth,m_edu,m_political,m_work_14,status_peer,status_3_before,view,inc_ability,inc_exp,trust_1,trust_2,trust_3,trust_4,trust_5,trust_6,trust_7,trust_8,trust_9,trust_10,trust_11,trust_12,trust_13,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
0,1,4,1,12,32,59,2015/8/4 14:18,1,1959,1,1,1,11,NaN,4.0,-2.0,20000,1,NaN,45.0,0,1,0,0,0,0,0,0,0,NaN,176,155,3,2,5,5,2.0,4,2,5,5,4,3,1,4,3,1,2,3,4,1,4,5,4,1,2,4,3,3.0,3.0,2,3,3,3,3,1,1,3.0,30.0,1.0,2.0,1,1,1,2,60000.0,2,2,1,2,0,1,0,0,0,0,0,0,0,NaN,1,0,0.0,3,1984.0,1958.0,1984.0,6.0,1.0,5.0,40000.0,5.0,NaN,NaN,-2,4,4,1,-2,4,1,1,3,2,4,3,50000.0,4,2,-8,-8,5,3,2,3,4,3,-8,4,1,4,50,60,50,50,30.0,30,50,50,50
1,2,4,2,18,52,85,2015/7/21 15:04,1,1992,1,1,1,12,NaN,4.0,2013.0,20000,1,NaN,110.0,0,0,0,0,1,0,0,0,0,NaN,170,110,5,4,3,1,1.0,2,2,1,3,5,1,2,3,4,3,5,4,3,2,3,4,5,1,2,4,3,6.0,2.0,1,3,6,4,8,5,1,3.0,2.0,1.0,3.0,1,1,1,1,40000.0,3,4,1,2,0,1,0,0,0,0,0,0,0,NaN,0,0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1972,3,1,2,1973,3,1,2,1,1,4,2,50000.0,5,4,4,3,5,3,3,3,2,3,3,3,2,3,90,70,70,80,85.0,70,90,60,60
2,3,4,2,29,83,126,2015/7/21 13:24,2,1967,1,0,3,4,NaN,4.0,-2.0,2000,1,NaN,120.0,0,1,1,0,0,0,0,0,0,NaN,160,122,4,4,5,1,1.0,2,2,2,5,1,3,1,4,4,3,5,4,4,2,3,5,5,5,3,4,2,2.0,5.0,2,4,5,4,6,3,2,NaN,NaN,NaN,NaN,1,1,2,2,8000.0,3,3,1,2,0,1,0,0,0,0,0,0,0,NaN,0,2,1.0,3,1990.0,1968.0,1990.0,3.0,1.0,1.0,6000.0,3.0,NaN,NaN,-2,1,1,2,-2,1,1,2,2,1,4,2,80000.0,3,3,3,3,4,3,3,3,3,3,-8,3,1,4,90,80,75,79,80.0,90,90,90,75
3,4,5,2,10,28,51,2015/7/25 17:33,2,1943,1,1,1,3,NaN,4.0,1959.0,6420,1,NaN,78.0,0,0,0,1,0,0,0,0,0,NaN,163,170,4,4,4,1,2.0,2,1,1,5,1,1,1,5,2,4,5,4,5,1,1,5,5,5,2,4,4,1.0,6.0,1,4,5,5,7,2,4,NaN,NaN,NaN,NaN,2,2,2,2,12000.0,3,3,1,1,0,1,0,0,0,0,0,0,0,NaN,1,4,0.0,7,1960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2,14,1,2,-2,1,1,2,2,1,3,2,10000.0,3,3,4,3,5,3,3,5,4,3,3,3,2,3,100,90,70,80,80.0,90,90,80,80
4,5,4,1,7,18,36,2015/8/10 9:50,2,1994,1,1,1,12,NaN,1.0,2014.0,-1,2,NaN,70.0,0,0,0,0,1,0,0,0,0,NaN,165,110,5,5,3,2,3.0,1,3,4,2,5,5,3,3,3,2,4,4,3,5,2,5,5,1,4,3,4,7.0,5.0,3,2,1,1,1,4,6,NaN,NaN,NaN,NaN,1,2,2,2,-2.0,4,3,1,1,0,1,0,0,0,0,0,0,0,NaN,0,0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970,6,1,10,1972,4,1,15,3,2,3,-8,200000.0,4,3,3,3,5,5,3,4,3,3,3,3,2,2,50,50,50,50,50.0,50,50,50,50

In [8]:
#查看数据是否缺失
train.info(verbose=True)
print("\nNull values count:\n", train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 140 columns):
 #    Column                Dtype
---   ------                -----
 0    id                    int64
 1    happiness             int64
 2    survey_type           int64
 3    province              int64
 4    city                  int64
 5    county                int64
 6    survey_time           object
 7    gender                int64
 8    birth                 int64
 9    nationality           int64
 10   religion              int64
 11   religion_freq         int64
 12   edu                   int64
 13   edu_other             object
 14   edu_status            float64
 15   edu_yr                float64
 16   income                int64
 17   political             int64
 18   join_party            float64
 19   floor_area            float64
 20   property_0            int64
 21   property_1            int64
 22   property_2            int64
 23   property_3            int64
 24   property_4            int64
 25   property_5            int64
 26   property_6            int64
 27   property_7            int64
 28   property_8            int64
 29   property_other        object
 30   height_cm             int64
 31   weight_jin            int64
 32   health                int64
 33   health_problem        int64
 34   depression            int64
 35   hukou                 int64
 36   hukou_loc             float64
 37   media_1               int64
 38   media_2               int64
 39   media_3               int64
 40   media_4               int64
 41   media_5               int64
 42   media_6               int64
 43   leisure_1             int64
 44   leisure_2             int64
 45   leisure_3             int64
 46   leisure_4             int64
 47   leisure_5             int64
 48   leisure_6             int64
 49   leisure_7             int64
 50   leisure_8             int64
 51   leisure_9             int64
 52   leisure_10            int64
 53   leisure_11            int64
 54   leisure_12            int64
 55   socialize             int64
 56   relax                 int64
 57   learn                 int64
 58   social_neighbor       float64
 59   social_friend         float64
 60   socia_outing          int64
 61   equity                int64
 62   class                 int64
 63   class_10_before       int64
 64   class_10_after        int64
 65   class_14              int64
 66   work_exper            int64
 67   work_status           float64
 68   work_yr               float64
 69   work_type             float64
 70   work_manage           float64
 71   insur_1               int64
 72   insur_2               int64
 73   insur_3               int64
 74   insur_4               int64
 75   family_income         float64
 76   family_m              int64
 77   family_status         int64
 78   house                 int64
 79   car                   int64
 80   invest_0              int64
 81   invest_1              int64
 82   invest_2              int64
 83   invest_3              int64
 84   invest_4              int64
 85   invest_5              int64
 86   invest_6              int64
 87   invest_7              int64
 88   invest_8              int64
 89   invest_other          object
 90   son                   int64
 91   daughter              int64
 92   minor_child           float64
 93   marital               int64
 94   marital_1st           float64
 95   s_birth               float64
 96   marital_now           float64
 97   s_edu                 float64
 98   s_political           float64
 99   s_hukou               float64
 100  s_income              float64
 101  s_work_exper          float64
 102  s_work_status         float64
 103  s_work_type           float64
 104  f_birth               int64
 105  f_edu                 int64
 106  f_political           int64
 107  f_work_14             int64
 108  m_birth               int64
 109  m_edu                 int64
 110  m_political           int64
 111  m_work_14             int64
 112  status_peer           int64
 113  status_3_before       int64
 114  view                  int64
 115  inc_ability           int64
 116  inc_exp               float64
 117  trust_1               int64
 118  trust_2               int64
 119  trust_3               int64
 120  trust_4               int64
 121  trust_5               int64
 122  trust_6               int64
 123  trust_7               int64
 124  trust_8               int64
 125  trust_9               int64
 126  trust_10              int64
 127  trust_11              int64
 128  trust_12              int64
 129  trust_13              int64
 130  neighbor_familiarity  int64
 131  public_service_1      int64
 132  public_service_2      int64
 133  public_service_3      int64
 134  public_service_4      int64
 135  public_service_5      float64
 136  public_service_6      int64
 137  public_service_7      int64
 138  public_service_8      int64
 139  public_service_9      int64
dtypes: float64(25), int64(111), object(4)
memory usage: 8.5+ MB

Null values count:
 id                         0
happiness                  0
survey_type                0
province                   0
city                       0
county                     0
survey_time                0
gender                     0
birth                      0
nationality                0
religion                   0
religion_freq              0
edu                        0
edu_other               7997
edu_status              1120
edu_yr                  1972
income                     0
political                  0
join_party              7176
floor_area                 0
property_0                 0
property_1                 0
property_2                 0
property_3                 0
property_4                 0
property_5                 0
property_6                 0
property_7                 0
property_8                 0
property_other          7934
height_cm                  0
weight_jin                 0
health                     0
health_problem             0
depression                 0
hukou                      0
hukou_loc                  4
media_1                    0
media_2                    0
media_3                    0
media_4                    0
media_5                    0
media_6                    0
leisure_1                  0
leisure_2                  0
leisure_3                  0
leisure_4                  0
leisure_5                  0
leisure_6                  0
leisure_7                  0
leisure_8                  0
leisure_9                  0
leisure_10                 0
leisure_11                 0
leisure_12                 0
socialize                  0
relax                      0
learn                      0
social_neighbor          796
social_friend            796
socia_outing               0
equity                     0
class                      0
class_10_before            0
class_10_after             0
class_14                   0
work_exper                 0
work_status             5049
work_yr                 5049
work_type               5049
work_manage             5049
insur_1                    0
insur_2                    0
insur_3                    0
insur_4                    0
family_income              1
family_m                   0
family_status              0
house                      0
car                        0
invest_0                   0
invest_1                   0
invest_2                   0
invest_3                   0
invest_4                   0
invest_5                   0
invest_6                   0
invest_7                   0
invest_8                   0
invest_other            7971
son                        0
daughter                   0
minor_child             1066
marital                    0
marital_1st              828
s_birth                 1718
marital_now             1770
s_edu                   1718
s_political             1718
s_hukou                 1718
s_income                1718
s_work_exper            1718
s_work_status           5435
s_work_type             5435
f_birth                    0
f_edu                      0
f_political                0
f_work_14                  0
m_birth                    0
m_edu                      0
m_political                0
m_work_14                  0
status_peer                0
status_3_before            0
view                       0
inc_ability                0
inc_exp                    0
trust_1                    0
trust_2                    0
trust_3                    0
trust_4                    0
trust_5                    0
trust_6                    0
trust_7                    0
trust_8                    0
trust_9                    0
trust_10                   0
trust_11                   0
trust_12                   0
trust_13                   0
neighbor_familiarity       0
public_service_1           0
public_service_2           0
public_service_3           0
public_service_4           0
public_service_5           0
public_service_6           0
public_service_7           0
public_service_8           0
public_service_9           0
dtype: int64

In [22]:
import matplotlib.pyplot as plt

# Calculate the percentage of missing values for each column in the DataFrame
missing_percentage = train.isnull().mean() * 100
missing_percentage = missing_percentage[missing_percentage > 0]  # Filter out columns with no missing values

# Plot the missing value percentages
plt.figure(figsize=(12, 8))
plt.bar(missing_percentage.index, missing_percentage.values)
plt.xlabel("Indicators with Missing Values")
plt.ylabel("Percentage of Missing Values (%)")
plt.title("Missing Values Percentage per Indicator")
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [9]:
#查看label分布
y_train_=train["happiness"]
y_train_.value_counts()

happiness
 4    4818
 5    1410
 3    1159
 2     497
 1     104
-8      12
Name: count, dtype: int64

In [10]:
#将-8换成3
y_train_=y_train_.map(lambda x:3 if x==-8 else x)

In [12]:
y_train_.head()

0    4
1    4
2    4
3    5
4    4
Name: happiness, dtype: int64

In [13]:
#让label从0开始
y_train_=y_train_.map(lambda x:x-1)

In [14]:
y_train_.head()

0    3
1    3
2    3
3    4
4    3
Name: happiness, dtype: int64

In [15]:
#train和test连在一起
data = pd.concat([train,test],axis=0,ignore_index=True)

In [16]:
#全部数据大小
data.shape

(10968, 140)

In [19]:
#处理时间特征
data['survey_time'] = pd.to_datetime(data['survey_time'],format='%Y/%m/%d %H:%M')
data["weekday"]=data["survey_time"].dt.weekday
data["year"]=data["survey_time"].dt.year
data["quarter"]=data["survey_time"].dt.quarter
data["hour"]=data["survey_time"].dt.hour
data["month"]=data["survey_time"].dt.month

In [20]:
#把一天的时间分段
def hour_cut(x):
    if 0<=x<6:
        return 0
    elif  6<=x<8:
        return 1
    elif  8<=x<12:
        return 2
    elif  12<=x<14:
        return 3
    elif  14<=x<18:
        return 4
    elif  18<=x<21:
        return 5
    elif  21<=x<24:
        return 6

    
data["hour_cut"]=data["hour"].map(hour_cut)

In [21]:
#做问卷时候的年龄
data["survey_age"]=data["year"]-data["birth"]

In [23]:
#去掉三个缺失值很多的
# edu_other 去掉
# join_party null->0 
# property_other null->0
# invest_other null->0
# s_work_status null->0
# s_work_type null->0
# work_status null->0
# work_yr null->0
# work_type null->0
# work_manage null->0
data=data.drop(["edu_other"], axis=1)
data=data.drop(["happiness"], axis=1)
data=data.drop(["survey_time"], axis=1)

In [ ]:
#是否入党
data["join_party"]=data["join_party"].map(lambda x:0 if pd.isnull(x)  else 1)

In [24]:
#出生的年代
def birth_split(x):
    if 1920<=x<=1930:
        return 0
    elif  1930<x<=1940:
        return 1
    elif  1940<x<=1950:
        return 2
    elif  1950<x<=1960:
        return 3
    elif  1960<x<=1970:
        return 4
    elif  1970<x<=1980:
        return 5
    elif  1980<x<=1990:
        return 6
    elif  1990<x<=2000:
        return 7
    
data["birth_s"]=data["birth"].map(birth_split)

In [25]:
#收入分组
def income_cut(x):
    if x<0:
        return 0
    elif  0<=x<1200:
        return 1
    elif  1200<x<=10000:
        return 2
    elif  10000<x<24000:
        return 3
    elif  24000<x<40000:
        return 4
    elif  40000<=x:
        return 5
 

    
data["income_cut"]=data["income"].map(income_cut)

In [ ]:
#填充数据
data["edu_status"]=data["edu_status"].fillna(5)
data["edu_yr"]=data["edu_yr"].fillna(-2)
data["property_other"]=data["property_other"].map(lambda x:0 if pd.isnull(x)  else 1)
data["hukou_loc"]=data["hukou_loc"].fillna(1)
data["social_neighbor"]=data["social_neighbor"].fillna(8)
data["social_friend"]=data["social_friend"].fillna(8)
data["work_status"]=data["work_status"].fillna(0)
data["work_yr"]=data["work_yr"].fillna(0)
data["work_type"]=data["work_type"].fillna(0)
data["work_manage"]=data["work_manage"].fillna(0)
data["family_income"]=data["family_income"].fillna(-2)
data["invest_other"]=data["invest_other"].map(lambda x:0 if pd.isnull(x)  else 1)

In [ ]:
#填充数据
data["minor_child"]=data["minor_child"].fillna(0)
data["marital_1st"]=data["marital_1st"].fillna(0)
data["s_birth"]=data["s_birth"].fillna(0)
data["marital_now"]=data["marital_now"].fillna(0)
data["s_edu"]=data["s_edu"].fillna(0)
data["s_political"]=data["s_political"].fillna(0)
data["s_hukou"]=data["s_hukou"].fillna(0)
data["s_income"]=data["s_income"].fillna(0)
data["s_work_exper"]=data["s_work_exper"].fillna(0)
data["s_work_status"]=data["s_work_status"].fillna(0)
data["s_work_type"]=data["s_work_type"].fillna(0)

In [ ]:
data=data.drop(["id"], axis=1)

In [ ]:
X_train_ = data[:train.shape[0]]
X_test_  = data[train.shape[0]:]

In [ ]:
target_column = 'happiness'
feature_columns=list(X_test_.columns) 
feature_columns

In [ ]:
X_train = np.array(X_train_)
y_train = np.array(y_train_)
X_test  = np.array(X_test_)

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
X_test.shape

In [ ]:
#自定义评价函数
def myFeval(preds, xgbtrain):
    label = xgbtrain.get_label()
    score = mean_squared_error(label,preds)
    return 'myFeval',score

In [ ]:
##### xgb

xgb_params = {"booster":'gbtree','eta': 0.005, 'max_depth': 5, 'subsample': 0.7, 
              'colsample_bytree': 0.8, 'objective': 'reg:linear', 'eval_metric': 'rmse', 'silent': True, 'nthread': 8}
folds = KFold(n_splits=5, shuffle=True, random_state=2018)
oof_xgb = np.zeros(len(train))
predictions_xgb = np.zeros(len(test))

for fold_, (trn_idx, val_idx) in enumerate(folds.split(X_train, y_train)):
    print("fold n°{}".format(fold_+1))
    trn_data = xgb.DMatrix(X_train[trn_idx], y_train[trn_idx])
    val_data = xgb.DMatrix(X_train[val_idx], y_train[val_idx])
    
    watchlist = [(trn_data, 'train'), (val_data, 'valid_data')]
    clf = xgb.train(dtrain=trn_data, num_boost_round=20000, evals=watchlist, early_stopping_rounds=200, verbose_eval=100, params=xgb_params,feval = myFeval)
    oof_xgb[val_idx] = clf.predict(xgb.DMatrix(X_train[val_idx]), ntree_limit=clf.best_ntree_limit)
    predictions_xgb += clf.predict(xgb.DMatrix(X_test), ntree_limit=clf.best_ntree_limit) / folds.n_splits
    
print("CV score: {:<8.8f}".format(mean_squared_error(oof_xgb, y_train_)))